<%- include('../partials/admin-head') %>
<%- include('../partials/admin-sidebar') %>
<%- include('../partials/admin-navbar') %>
<section>
    <div class="col-12">
        <div>
            <a href="/admin/add-products" class="btn btn-success float-end mt-4 ">Add Products</a>
        </div>
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Products list</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        
                        <tr>
                            <th scope="col">Images</th>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                            <th scope="col">Specifications</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Category</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <% products.forEach((x) => { %>
                        <tr>
                            <th scope="row"><img style="width: 50px; height: 50px;" src="/productImages/<%=x._id %>a.jpg" alt=""></th>
                            <td><%=x.title %></td>
                            <td><%=x.price %></td>
                            <td><%=x.description %></td>
                            <td><%=x.stock %></td>
                            <td><%=x.category %></td>
                            <td><%=x.brand %></td>
                            <td><a  href="/admin/edit-products"><i class="bi bi-pencil-square"></i></a></td>
                            <td><a  href="/admin/delete-products"><i class="bi bi-trash-fill"></i></a></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<%- include('../partials/admin-foot') %>